.owl-main {
  position: relative;
  background-color: #000;
  padding: 10px 0;
  height: 460px;
  overflow: hidden;
  box-sizing: border-box; }
  .owl-main .item {
    position: relative;
    width: 100%;
    height: 60vh; }
    .owl-main .item__img {
      width: 100%;
      height: 100%;
      object-fit: fill; }
    .owl-main .item-cover {
      padding: 75px 0;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.6);
      display: flex;
      align-items: center; }
      .owl-main .item-cover-container__content {
        position: relative;
        padding: 56px;
        overflow: hidden; }
        .owl-main .item-cover-container__content .line {
          content: "";
          display: inline-block;
          width: 100%;
          height: 100%;
          left: 20px;
          top: 0;
          position: absolute;
          border: 3px solid #fff;
          clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%); }
        .owl-main .item-cover-container__content .txt-title {
          font-weight: 300;
          font-size: 35px;
          color: #fff; }
        .owl-main .item-cover-container__content .txt-title-big {
          font-size: 56px;
          font-weight: 600;
          margin: 5px 0 20px;
          word-spacing: 3px;
          color: #fff; }
        .owl-main .item-cover-container__content .txt-detail {
          font-size: 24px;
          font-weight: 300;
          line-height: 36px;
          color: #fff; }
  .owl-main .owl-nav .owl-prev {
    position: absolute;
    left: 15px;
    top: 43%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    background: rgba(0, 0, 0, 0.5) !important;
    width: 40px;
    cursor: pointer;
    height: 40px;
    position: absolute;
    display: block;
    z-index: 1000;
    border-radius: 0; }
    .owl-main .owl-nav .owl-prev span {
      font-size: 1.6875rem;
      color: #fff; }
  .owl-main .owl-nav .owl-prev:focus {
    outline: 0; }
  .owl-main .owl-nav .owl-prev:hover {
    background: #000 !important; }
  .owl-main .owl-nav .owl-next {
    position: absolute;
    right: 15px;
    top: 43%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    background: rgba(0, 0, 0, 0.5) !important;
    width: 40px;
    cursor: pointer;
    height: 40px;
    position: absolute;
    display: block;
    z-index: 1000;
    border-radius: 0; }
    .owl-main .owl-nav .owl-next span {
      font-size: 1.6875rem;
      color: #fff; }
  .owl-main .owl-nav .owl-next:focus {
    outline: 0; }
  .owl-main .owl-nav .owl-next:hover {
    background: #000 !important; }

.owl-main:hover .owl-prev {
  left: 0;
  opacity: 1; }

.owl-main:hover .owl-next {
  right: 0;
  opacity: 1; }
