.product-detail {
  margin: 40px 0; }
  .product-detail__img {
    width: 100%;
    height: 100%;
    position: relative; }
    .product-detail__img img {
      max-width: 100%;
      height: auto;
      object-fit: fill; }
  .product-detail__main {
    margin-left: 15px; }
    .product-detail__main .detail-path {
      font-size: 14px;
      margin-bottom: 10px; }
    .product-detail__main .detail-branch {
      font-size: 13px;
      margin-bottom: 10px; }
    .product-detail__main .detail-content__start span i {
      color: #ffd30d; }
    .product-detail__main .detail-content__open {
      display: flex; }
      .product-detail__main .detail-content__open .open-status {
        cursor: pointer;
        margin-right: 10px;
        position: relative; }
        .product-detail__main .detail-content__open .open-status .open-gr:before {
          content: '';
          position: relative;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: green;
          display: inline-block; }
        .product-detail__main .detail-content__open .open-status .open-gr:after {
          content: attr(title);
          font-size: 15px;
          display: inline-block;
          white-space: nowrap;
          color: inherit;
          padding-left: 5px; }
      .product-detail__main .detail-content__open .open-status:after {
        content: "";
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        border-radius: 50%;
        z-index: 1; }
    .product-detail__main .detail-content__cost {
      margin-top: 5px; }
      .product-detail__main .detail-content__cost .fas-price {
        color: #959595;
        font-weight: 500; }
        .product-detail__main .detail-content__cost .fas-price i {
          text-align: center;
          font-size: 8px;
          width: 16px;
          height: 16px;
          border: 1px solid;
          border-radius: 50%;
          line-height: 15px;
          vertical-align: top;
          margin-top: 4px;
          margin-right: 5px;
          color: #045704; }
    .product-detail__main .detail-content__service {
      width: 100%;
      margin-top: 40px; }
      .product-detail__main .detail-content__service .service-line {
        margin-bottom: 3px;
        width: 75%;
        height: 1px;
        background: #ccc; }
      .product-detail__main .detail-content__service .service-main {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        left: 0;
        padding: 0; }
        .product-detail__main .detail-content__service .service-main .service-list {
          flex-basis: 30%;
          color: gray;
          list-style-type: none; }
          .product-detail__main .detail-content__service .service-main .service-list__item {
            text-decoration: none;
            font-weight: 600;
            color: #ec0404; }
            .product-detail__main .detail-content__service .service-main .service-list__item--bl {
              color: black;
              font-weight: 400; }

@media screen and (max-width: 368px) {
  .product-detail .detail-content__service .service-line {
    margin-bottom: 3px;
    width: 100%;
    height: 1px;
    background: #ccc; }
  .product-detail .detail-content__service .service-main {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    left: 0;
    padding: 0; }
    .product-detail .detail-content__service .service-main .service-list {
      font-size: 12px; }
      .product-detail .detail-content__service .service-main .service-list__item {
        font-size: 12px; }
        .product-detail .detail-content__service .service-main .service-list__item--bl {
          color: black;
          font-weight: 400; } }

@media screen and (max-width: 768px) {
  .product-detail__main {
    margin-left: 0;
    margin-top: 30px; } }
